.top-row {
  background-color: white;
  padding-top: 5px;
}

.body-row {
  background-color: white;
}

.bottom-row {
  background-color: white;
  padding-bottom: 5px;
}

.col-shift {
  height: calc(8vh);
  width: calc(5vw);
  font-size: calc(2vmax);
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: none;
  box-shadow: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
